/*=========================================================================================================
    Business Solutions Area
===========================================================================================================*/
.business-solution-area {
  padding-bottom: 140px;
  padding-top: 100px;
}
.biz-solution-content {
  margin-top: 40px;
}
.biz-solution-cont-sm-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 120%;
  color: #000;
  position: relative;
  display: inline-block;
  padding-left: 48px;
  margin-bottom: 16px;
  &::before {
    position: absolute;
    content: "";
    width: 40px;
    height: 3px;
    background: #edeef0;
    left: 0;
    top: 50%;
  }
}
.biz-solution-cont-big-title {
  font-weight: 700;
  font-size: 72px;
  line-height: 120%;
  color: $primary-color;
  margin-bottom: 32px;
}
.biz-solution-cont-text {
  font-weight: 400;
  font-size: 19px;
  line-height: 180%;
  margin: 0;
}

.biz-solution-card {
  background: $white-color;
  border: 1px solid #edeef0;
  border-radius: 4px;
  padding: 24px;
  overflow: hidden;
  width: 100%;
  min-height: 480px;
  position: relative;
  transition: all 0.4s ease;
  margin-top: 40px;
  &::before {
    position: absolute;
    content: "";
    width: 40px;
    height: 40px;
    background-image: url("../img/business-solutions-icon/border-1.svg");
    top: -8px;
    right: -8px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: all 0.4s ease;
    opacity: 0;
    visibility: hidden;
  }
  &::after {
    position: absolute;
    content: "";
    width: 40px;
    height: 40px;
    background-image: url("../img/business-solutions-icon/border-2.svg");
    bottom: -8px;
    left: -8px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: all 0.4s ease;
    opacity: 0;
    visibility: hidden;
  }
  img {
    text-align: left;
    width: 120px;
    height: 120px;
    margin-bottom: 77px;
    opacity: 0;
    visibility: hidden;
    transition: all 0.4s ease;
  }
  &:hover {
    box-shadow: 0px 24px 48px rgba(11, 19, 43, 0.08);
    img {
      opacity: 1;
      visibility: visible;
    }
    &::before {
      top: 0;
      right: 0;
      opacity: 1;
      visibility: visible;
    }
    &::after {
      opacity: 1;
      visibility: visible;
      bottom: 0;
      left: 0;
    }
    .biz-solution-card-tag {
      transform: translateY(0px);
      opacity: 1;
      visibility: visible;
    }
    .biz-solution-card-btn {
      transform: translateY(0px);
      opacity: 1;
      visibility: visible;
    }
  }
}

.biz-solution-card-btn {
  text-align: right;
  transform: translateY(75px);
  margin-top: 111px;
  opacity: 0;
  visibility: visible;
  transition: all 0.4s ease;
}
.biz-solution-card-content {
  text-align: center;
}
.biz-solution-card-title {
  font-weight: 600;
  font-size: 32px;
  line-height: 120%;
  text-align: center;
  color: $primary-color;
  margin-bottom: 0;
}
.biz-solution-card-tag {
  margin: 0;
  margin-top: 0px;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  text-align: center;
  margin-top: 12px;
  transform: translateY(20px);
  opacity: 0;
  visibility: hidden;
  transition: all 0.4s ease;
  a {
    font-weight: 600;
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1200px) {
  .biz-solution-cont-sm-title {
    font-size: 18px;
  }
  .biz-solution-cont-big-title {
    font-size: 28px;
    margin-bottom: 24px;
  }
  .biz-solution-cont-text {
    font-size: 16px;
  }
  .biz-solution-content {
    margin-top: 0;
  }
  .business-solution-area {
    padding-bottom: 80px;
    padding-top: 80px;
  }
  .biz-solution-card-title {
    font-size: 24px;
  }
  .biz-solution-card-tag {
    font-size: 15px;
  }
  .biz-solution-card img {
    width: 94px;
    height: 94px;
  }
  .biz-solution-card-btn {
    margin-top: 94px;
  }
  .biz-solution-card {
    min-height: 400px;
  }
  .biz-solution-card img {
    margin-bottom: 48px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .biz-solution-cont-sm-title {
    font-size: 18px;
  }
  .biz-solution-cont-big-title {
    font-size: 28px;
    margin-bottom: 24px;
  }
  .biz-solution-cont-text {
    font-size: 16px;
  }
  .biz-solution-content {
    margin-top: 0;
  }
  .business-solution-area {
    padding-bottom: 80px;
    padding-top: 80px;
  }
  .biz-solution-card-title {
    font-size: 24px;
  }
  .biz-solution-card-tag {
    font-size: 15px;
  }
  .biz-solution-card img {
    width: 94px;
    height: 94px;
  }
  .biz-solution-card-btn {
    margin-top: 94px;
  }
  .biz-solution-card {
    min-height: 400px;
  }
  .biz-solution-card img {
    margin-bottom: 48px;
  }
}

@media only screen and (max-width: 767px) {
  .biz-solution-cont-sm-title {
    font-size: 18px;
  }
  .biz-solution-cont-big-title {
    font-size: 28px;
    margin-bottom: 24px;
  }
  .biz-solution-cont-text {
    font-size: 16px;
  }
  .biz-solution-content {
    margin-top: 0;
  }
  .business-solution-area {
    padding-bottom: 80px;
    padding-top: 80px;
  }
  .biz-solution-card-title {
    font-size: 24px;
  }
  .biz-solution-card-tag {
    font-size: 15px;
  }
  .biz-solution-card img {
    width: 94px;
    height: 94px;
  }
  .biz-solution-card-btn {
    margin-top: 94px;
  }
  .biz-solution-card {
    min-height: 400px;
  }
  .biz-solution-card img {
    margin-bottom: 48px;
  }
}

/*=========================================================================================================
   End Business Solutions Area
===========================================================================================================*/
